@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Guitar
@using GuitarVendor.Models

<h2>Add a store</h2>

<h4>Add a store to this guitar: @Html.DisplayFor(model => model.Year) @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GuitarId)
  @Html.Label("Select store")
  @Html.DropDownList("StoreId")
  <input type="submit" class="btn btn-primary" value="Add"/>
}

<p>@Html.ActionLink("Back to guitar list", "Index")</p>