@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Guitar
@using GuitarVendor.Models

<h4>Add a new guitar</h4>

<p>@Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p><p>@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Year, null, new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Brand)
  @Html.TextBoxFor(model => model.Brand)
  <br>
  <br>
  @Html.LabelFor(model => model.Model)
  @Html.TextBoxFor(model => model.Model)
  <br>
  <br>
  @Html.LabelFor(model => model.Color)
  @Html.TextBoxFor(model => model.Color)
  <br>
  <br>
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <br>
  <br>
  @Html.LabelFor(model => model.Price)
  @* @Html.TextBoxFor(model => model.Price) *@
  @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type="number", @min="0", @defaultValue="0"}})
  <br>
  <br>
  @Html.LabelFor(model => model.Year)
  @* @Html.TextBoxFor(model => model.Year) *@
  @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @type="number", @min="1931", @max="2023", @defaultValue="0"}})
  <br>
  <br>
  @Html.LabelFor(model => model.Store)
  @Html.DropDownList("StoreId")
  <br>
  <br>
  <input type="submit" value="Add new guitar" class="btn btn-primary"/>
}
<br>
<p>@Html.ActionLink("Back to guitar list", "Index")</p>
<p>@Html.ActionLink("View store list", "Index", "Stores")</p>