@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Store
@using GuitarVendor.Models

<h2>Add a guitar</h2>

<h4>Add a guitar to this store: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StoreId)
  @Html.Label("Select guitar")
  @Html.DropDownList("GuitarId")
  <input type="submit" class="btn btn-primary" value="Add"/>
}
<br>
<p>@Html.ActionLink("Back to store list", "Index")</p>