@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Store
@using GuitarVendor.Models
@using System.Collections.Generic;

<h2>Store Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>No guitars have been added to this store yet.</h3>
}
else
{
  <h3>Guitars in stock at this store:</h3>
  <ul>
    @foreach (StoreGuitar join in Model.JoinEntities)
    {
      <li>@join.Guitar.Year @join.Guitar.Brand @join.Guitar.Model</li>
      @using (Html.BeginForm("DeleteJoin", "Stores"))
      {
        @Html.Hidden("joinId", @join.StoreGuitarId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a guitar to this store", "AddGuitar", new { id = Model.StoreId })</p>
<p>@Html.ActionLink("Edit this store", "Edit", new { id = Model.StoreId })</p>
<p>@Html.ActionLink("Delete this store", "Delete", new { id = Model.StoreId })</p>
<p>@Html.ActionLink("View guitar list", "Index", "Guitars")</p>
<p>@Html.ActionLink("View store list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>