@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Store
@using GuitarVendor.Models
@using System.Collections.Generic;

<h2>Store Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>No guitars have been added to this store yet.</h3>
}
else
{
  <h3>Guitars in stock at this store:</h3>
  <ul>
    @foreach (StoreGuitar join in Model.JoinEntities)
    {
      <li>@join.Guitar.Year @join.Guitar.Brand @join.Guitar.Model</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit this store", "Edit", new { id = Model.StoreId })</p>
<p>@Html.ActionLink("Back to store list", "Index")</p>