@{
  Layout = "_Layout";
}

@using GuitarVendor.Models

<h1>Guitar Vendor</h1>

<h2>Keep track of guitars and the stores that sell them!</h2>

<hr>

<h4>Stores</h4>
@if (Model["stores"].Length == 0)
{
  <p>No stores have been added yet.</p>
}
<ul>
  @foreach (Store stores in Model["stores"])
  {
    <li>@Html.ActionLink(@stores.Name, "Details", "Stores", new { id = @stores.StoreId })</li>
  }
</ul>

<h4>Guitars</h4>
@if (Model["guitars"].Length == 0)
{
  <p>No guitars have been added yet.</p>
}
<ul>
  @foreach (Guitar guitars in Model["guitars"])
  {
    <li>@Html.ActionLink($"{@guitars.Year}_{@guitars.Brand}_{@guitars.Model}", "Details", "Guitars", new { id = @guitars.GuitarId })</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage guitars", "Index", "Guitars")</p>
<p>@Html.ActionLink("Manage stores", "Index", "Stores")</p>